/* CSS for pdf */

@page :left {
  margin-left: 3cm;
}

@page :right {
  margin-left: 4cm;
}

p {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

code  {
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}

pre, .listingblock .content pre {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  page-break-after: always;
  color: #007fff;
  text-transform: uppercase;
}

h2 {
  page-break-after: always;
  color: #333;
}

h3 {
  color: #555;
  font-variant: small-caps;
}

h4 {
  color: #777;
}

h5 {
  color: #999;
}

div.listingblock {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
caption.title, div.title {
  color: #333;
}
  