/* CSS for pdf */

p {
  font-size: 12px;
}

pre, code {
  font-size: 12px;
}

@page :left {
  margin-left: 1in;
  margin-right: 1.25in;
}

@page :right {
  margin-left: 1.25in;
  margin-right: 1in;
}