/* CSS for website */

/* general */

.book .book-summary ul.summary li a {
    font-weight: bold;
}

.book .book-summary ul.summary ul.articles li a {
    font-weight: normal;
}

.book .book-summary {
    background: #FFFFFF;
}

.book .book-body .navigation.navigation-next {
    right: 10px;
}

/* headers */

.book .book-body .page-wrapper .page-inner section.normal h1 {
}
.book .book-body .page-wrapper .page-inner section.normal h2 {
    border-bottom: solid 2px #888888;
}
.book .book-body .page-wrapper .page-inner section.normal h3 {
    border-bottom: solid 1px #bcbcbc;
}
.book .book-body .page-wrapper .page-inner section.normal h4 {
}
.book .book-body .page-wrapper .page-inner section.normal h5 {
}
.book .book-body .page-wrapper .page-inner section.normal h6 {
}


/* code blocks */

/*
.listingblock .content {
    box-shadow: 5px 5px 10px #bcbcbc;
}
*/

.listingblock .spin-highlight-line {
    font-weight: 900;
}
.listingblock .spin-highlight-line-edit {
    color: #707000;
}
.listingblock .spin-highlight-line-remove {
    color: #8b0000;
}
.listingblock .spin-highlight-line-add {
    color: #006400;
}

.listingblock .spin-highlight-line-none::before {
    content: " ";
}
.listingblock .spin-highlight-line-edit::before {
    content: "*";
}
.listingblock .spin-highlight-line-remove::before {
    content: "-";
}
.listingblock .spin-highlight-line-add::before {
    content: "+";
}

.listingblock .spin-highlight-block {
    background: #d0d0d0;
    display: inline-block;
    position: relative;
    left: -16px;
    width: calc(100% + 32px);
    padding: 0 0;
}

.listingblock .spin-highlight-block-con {
    background: #f8f8f8;
}
.listingblock .spin-highlight-block-var {
    background: #e6e7fd;
}
.listingblock .spin-highlight-block-obj {
    background: #edf0ff;
}
.listingblock .spin-highlight-block-pub {
    background: #dde3f3;
}
.listingblock .spin-highlight-block-pri {
    background: #d6e5ee;
}
.listingblock .spin-highlight-block-dat {
    background: #e6f5e9;
}


.listingblock .title {
    color: #999;
    padding: 2px 5px;
    font-style: italic;
}

.book .book-body .page-wrapper .page-inner section.normal code {
    font-size: 11pt;
    background: #e7e7e7;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #bbb;
}

.book .book-body .page-wrapper .page-inner section.normal pre,
.book .book-body .page-wrapper .page-inner section.normal pre > code {
    font-weight: normal;
    background: #e7e7e7;
    color: #333;
    line-height: 1.4;
    font-size: 12pt;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
}


.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table tbody tr td pre {
    margin-top: 12px;
    margin-bottom: 12px;
}


/* keyboard shortcuts */


kbd {
    display: inline-block;
    color: rgb(0,0,0,0.8);
    font-size: 0.75em;
    line-height: 1.4;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 0.1em #fff inset;
    margin: -0.15em 0.15em 0 0.15em;
    padding: 0.2em 0.6em 0.2em 0.5em;
    vertical-align: middle;
    white-space: nowrap;
    box-sizing: border-box;
}


/* Admonition support, UGH */


.admonitionblock {
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
}

.admonitionblock .title {
    font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table {
    margin: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table tbody tr td p {
    margin: 0px;
}

/*.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table tbody tr td pre,
.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table tbody tr td code {
    margin-top: 12px;
    margin-bottom: 12px;
}
*/

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table tr {
    background: transparent;
    border: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table th, .book .book-body .page-wrapper .page-inner section.normal .admonitionblock table td {
    border: 0px;
    vertical-align: middle;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table td.icon {
    width: 150px;
    max-width: 150px;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table td.content {
    width: 100%;
}

.note {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock.note table td.icon {
    border-right: 2px solid #67aacb;
}

.tip {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock.tip table td.icon  {
    border-right: 2px solid #77bb78;
}

.important {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock.important table td.icon {
    border-right: 2px solid #67aacb;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock.warning table td.icon {
    border-right: 2px solid #c2a470;
}

.caution {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock.caution table td.icon {
    border-right: 2px solid #cd807e;
}
