/* CSS for website */

/* code blocks */

.code-line-highlight {
    font-weight: 900;
    background: #eeee90;
    display: inline-block;
    position: relative;
    left: -16px;
    width: calc(100% + 32px);
    padding: 0 1em;
}


.listingblock .title {
    color: #999;
    padding: 2px 5px;
    font-style: italic;
}


.book .book-body .page-wrapper .page-inner section.normal code {
    font-size: 11pt;
    background: #e7e7e7;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
    overflow: hidden;
}

.book .book-body .page-wrapper .page-inner section.normal pre,
.book .book-body .page-wrapper .page-inner section.normal pre > code {
    font-weight: normal;
    background: #e7e7e7;
    color: #333;
    line-height: 1.4;
    font-size: 12pt;
    display: block;
}


/* keyboard shortcuts */


kbd {
    display: inline-block;
    color: rgb(0,0,0,0.8);
    font-size: 0.75em;
    line-height: 1.4;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 0.1em #fff inset;
    margin: -0.15em 0.15em 0 0.15em;
    padding: 0.2em 0.6em 0.2em 0.5em;
    vertical-align: middle;
    white-space: nowrap;
    box-sizing: border-box;
}


/* Admonition support, UGH */


.admonitionblock {
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
}

.admonitionblock .title {
    font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table {
    margin: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table tbody tr td p {
    margin: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table tbody tr td pre,
.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table tbody tr td code {
    margin-top: 12px;
    margin-bottom: 12px;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table tr {
    background: transparent;
    border: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table th, .book .book-body .page-wrapper .page-inner section.normal .admonitionblock table td {
    border: 0px;
    vertical-align: middle;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table td.icon {
    width: 150px;
    max-width: 150px;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock table td.content {
    width: 100%;
}

.note {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock.note table td.icon {
    border-right: 2px solid #67aacb;
}

.tip {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock.tip table td.icon  {
    border-right: 2px solid #77bb78;
}

.important {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock.important table td.icon {
    border-right: 2px solid #67aacb;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock.warning table td.icon {
    border-right: 2px solid #c2a470;
}

.caution {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.book .book-body .page-wrapper .page-inner section.normal .admonitionblock.caution table td.icon {
    border-right: 2px solid #cd807e;
}
